<div class="container">

  <div class="list-group">

    <a class="list-group-item list-group-item-action flex-column
              align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h1 class="mb-1 headline">
          Proposal list
        </h1>
      </div>
    </a>

    <a *ngFor="let proposal of proposals"
       class="list-group-item list-group-item-action flex-column
              align-items-start"
       routerLink="/proposal/{{ proposal.id }}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          {{ proposal.customer }}
        </h5>
      </div>
      <p class="mb-1">
        {{ proposal.hourly_rate * proposal.estimated_hours }}
      </p>
    </a>

  </div> <!-- /.list-group -->
</div>
